
#navWrap {
    background-color: black;
    text-align: center;
    float: left;
    height: 99vh;
    position: fixed;
    transition: .3s;
    z-index: 1000;
}

.navActive {
    margin-left: -1vw;
}

.navInactive {
    margin-left: -15vw;
}

.nav h3 {
    padding-bottom: 4px;
    color: #66C6C2;
    border-bottom: 1px solid #637E95;
}

.nav li {
    color: whitesmoke;
    padding-bottom: 5px;
    cursor: pointer;
    text-align: justify;
}

#navContact {
    padding-bottom: 40px;
}

#navLinks a {
    color: whitesmoke;
    justify-content: space-between;
    margin: 0;
}

#navLinks a:hover {
    background-color: black;
    color: #637E95;
}

#navLinks  li{
    display: inline-flex;
    padding: 0;
}

#caretTab {
    color: whitesmoke;
    cursor: pointer;
    float: right;
    left: -5%;
    top: -5%;
}

#portPic {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
}

#mainJumbo {
    min-height: 99vh;
    min-width: 98.25vw;
    background-image: url("../images/portpic2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: 1s;
}

#fullStackDiv {
    color: #66C6C2;
    font-family: 'Marcellus SC', serif;
    border-bottom: 2px solid #637E95;
}

#mainJumbo h2 {
    color: whitesmoke;
}
