html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#navWrap {
    background-color: black;
    text-align: center;
    float: left;
    position: fixed;
    transition: .3s;
    z-index: 1000;
    width: 19.5%;
    border-right: 1px solid #637E95;
    float: left;
    overflow: scroll;
    padding-right: 0;
    height: 100vh;
    margin-bottom: 0 auto;
}

#caretDiv {
    position: relative;
    top: 20%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.navActive {
    margin-left: -2%;
    float: left;
}

.navInactive {
    float: left;
    margin-left: -18%;
}

.nav h3 {
    padding-bottom: 2%;
    color: #51E6FE;
    border-bottom: 1px solid #637E95;
}

.nav li {
    color: whitesmoke;
    padding-bottom: 2%;
    cursor: pointer;
    text-align: justify;
}

.nav li:hover {
    color: #637E95;
}

#navContact {
    padding-bottom: 3vh;
    text-align: left;
}

#phoneNumber {
    text-decoration: none;
    color: white;
}

#phoneNumber:hover {
    color: #637E95;
}

#navContact h3 {
    text-align: center;
}


#navLinks a {
    color: whitesmoke;
    justify-content: space-around;
    margin: 0;
    padding: 4px;
}

#navLinks a:hover {
    background-color: black;
    color: #637E95;
}

#navLinks a:visited {
    background-color: black;
}

#navLinks  li{
    display: inline-flex;
    padding: 0;
}

#caretTab {
    color: whitesmoke;
    cursor: pointer;
    float: right;
    left: -9%;
    top: -5%;
}

#portPic {
    height: 35%;
    width: 35%;
    border-radius: 50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.jumbotron {
    width: 110%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: 1s;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    clear: both;
    overflow: hidden;
}

#mainJumbo {
    height: 90vh;
    background-image: url("../images/coffee.jpg");
}

#fullStackDiv {
    color: #51E6FE;
    font-family: 'Marcellus SC', serif;
    border-bottom: 1px solid #637E95;
}

#mainJumbo h2 {
    color: whitesmoke;
}

.breakDiv {
    width: 100%;
    background-color: black;
    padding-top: 0px;
    margin-top: -2%;
    border-top: 1px solid #637E95;
    border-bottom: 1px solid #637E95;
    margin-left: 2vw;
    overflow: hidden;
    min-height: 5vh;
}


#jumboTwo {
    margin-top: -4vh;
    background-image: url("../images/slate.jpg");
    padding-bottom: 15%;
}


.typeWriter h2 {
    color: whitesmoke;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #51E6FE; /* The typwriter cursor */
    padding-right: 0;
    margin-right: 0;
    overflow-wrap: normal;
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(50, end),
      blink-caret .75s step-end infinite;
  }

  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: #51E6FE }
    50% { border-color: transparent }
  }


.breakDiv h2 {
    letter-spacing: .15em;
    font-weight: bold;
}


#aboutDiv {
    text-indent: 2vw;
    margin-top: 4%;
    margin-left: 5%;
    background-color: rgba(128, 128, 128, 0.29);
    border-bottom: 1px solid #51E6FE;
}

#aboutDiv p {
    font-family: 'Della Respira', serif;
    font-size: 22px;
    margin-top: 10px;
    color: whitesmoke;
    line-height: 2em;
    padding-left: 1vw;
    padding-right: 1vw;
}


#jumboThree {
    background-image: url("../images/glitchart.jpg");
    margin-left: -4%;
}

#portfolioDiv {
    padding-bottom: 8%;
}
.portLi {
    font-size: 24px;
}

.htmlSpan {
    color: blue;
}

.portTitle {
    font-size: 30px;
    color: #02BE02;
}

code :hover {
    background-color: #FEFE94;
}

.portDesc {
    color: #02BE02;
}

#jumboFour {
    background-image: url("../images/green.jpg");
    margin-left: -4%;
}

#exDiv {
    padding-bottom: 10%;
    align-content: space-around;
    margin-left: 7%;
}

.exPost {
    font-family: "Della Respira", serif;
    background-color: rgba(245, 245, 245, 0.35);
    border: 1px solid #637E95;
    color: black;
    text-align: center;
}

#jumboFive {
    background-image: url("../images/brickwall.jpg");
    height: 200%;
    margin-left: -4%;
}


#fbI {
    color: #3b5998;
}

#twitterI {
    color: #1dcaff;
}

#githubI {
    color: #333;
}

#linkedInI {
    color: #0077b5;
}

#stackOI {
    color: #FF9900;
}

.modal-title {
    height: 1vh;
}

#emailBtmLink {
    font-size: 160px;
    color: white;
}

#phoneBtmLink {
    font-size: 200px;
    margin-top: 5px;
    color: white;
}

#pdfBtmLink {
    font-size: 120px;
    margin-top: 30px;
    color: white;
}

.btmLinks {
    padding-bottom: 40px;
}

#emailBtmLink:hover {
    color: #1dcaff;
    cursor: pointer;
}

#phoneBtmLink:hover {
    color: #1dcaff;
    cursor:pointer;
}

#btmPhoneNumberh2 {
    margin-top: -5%;
}

#footer{
    border-bottom: none;
    height: 5vh;
}

body {
    background-color: black;
}

#links h2 {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Vampiro One', cursive;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

.falink:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
}


@keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}


@keyframes iconChange {
    from { box-shadow: 0 0 40px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
    background-color: #fff;}
    to { box-shadow: 0 transparent;
    background-color: transparent; }
  }


@media screen and (max-width: 1024px){

    .typeWriter h2, .breakDiv h2 {
        margin-left: -10%;
    }
    #mainJumbo {
        height: 45vh;
    }
    #navWrap {
        width: 25%;
    }
    .navInactive{
        margin-left: -22.5%;
    }
}

@media screen and (max-width: 800px){
    #navWrap {
        width: 26%;
    }
    .typeWriter h2, .breakDiv h2 {
        margin-top: 2%;
    }
    #mainJumbo {
        height: 80vh;
    }
    .navInactive {
        margin-left: -23.5%;
    }
    #aboutDiv p{
        font-size: 18px;
    }
    #aboutDiv {
        width: 90vw;
        margin-left: 1%;
    }
    .exPost {
        width: 80vw;
        margin-left: 2%;
    }
    #links {
        margin-left: 10%;
    }
    #jumboFive {
        height: 100vh;
    }
    .faBtmLinks {
        display: inline;
    }
}

@media screen and (max-width: 768px){
    #navWrap {
        width: 30%;
    }
    .navInactive{
        margin-left: -27.5%;
    }

    #mainJumbo {
        height: 55vh;
    }

    #aboutDiv {
        margin-left: 4%;
    }
    #exDiv {
        margin-left: 3%;
    }
    #links {
        margin-left: 15%;
    }

}

@media screen and (max-width: 601px) {
    #navWrap {
        width: 50%;
    }
    .navInactive{
        margin-left: -45.5%;
    }
    .navActive{
        margin-left: -3.5%;
    }
    #caretTab {
        margin-right: 0;
        padding-right: 0;
        position: relative;
        left: -4.5%;
    }
    #fullStackDiv{
        margin-left: 5%;
    }
    #devh2{
        font-size: 22px;
        margin-left: 5%;
    }
    #aboutDiv {
        margin-left: 8%;
    }
    #portfolioDiv {
        margin-left: 5%;
    }
    #exDiv {
        margin-left: 10%;
    }
    .breakDiv h2, .typeWriter h2 {
        margin-left: 15%;
    }
    .linkDiv {
        display: inline;
    }
}

@media screen and (max-width: 568px){

    #caretTab {
        position: relative;
        top: -20vh;
    }
    #jumboFive {
        height: 100%;
    }
    
}

@media screen and (max-width: 480px){
    .linkDiv i{
        margin-top: 20px;
    }
    #caretTab {
        position: relative;
        top: -12vh;
        left: -3vw;
    }
    .modal-body input, .modal-body textarea {
        width: 95%;
    }
}

@media screen and (max-width: 400px){
    #navWrap {
        width: 62%;
        left: -0.2vw;
    }
    .navInactive {
        margin-left: -53%;
    }
}
@media screen and (max-width: 320px){
    #navWrap {
        width: 85%;
        left: -1vw;
    }
    .navInactive {
        margin-left: -75%;
    }
    .navActive{
        margin-left: -2%;
    }
    #caretTab {
        left: -3.5vw;
    }
    #mainJumbo {
        height: 91.25vh;
    }
    #aboutDiv p{
        text-align: center;
    }
    .portLi {
        font-size: 18px;
    }
    .portTitle {
        font-size: 20px;
    }
    #btmPhoneNumberh2, #btmEmailh2, #pdfBtmh2 {
        font-size: 18px;
    }
}

