
#navWrap {
    background-color: black;
    text-align: center;
    float: left;
    height: 99vh;
    position: fixed;
    transition: .3s;
    z-index: 1000;
}

.navActive {
    margin-left: -1vw;
}

.navInactive {
    margin-left: -15vw;
}

.nav h3 {
    padding-bottom: 4px;
    border-bottom: 1px solid #7A7E7F;
}

.nav li {
    color: #637E95;
    padding-bottom: 20px;
    cursor: pointer;
    text-align: justify;
}

#navContact {
    padding-bottom: 40px;
}

#navLinks a {
    color: whitesmoke;
    justify-content: space-between;
    margin: 0;
}

#navLinks a:hover {
    background-color: black;
    color: #637E95;
}

#navLinks  li{
    display: inline-flex;
    padding: 0;
}

#caretTab {
    position: relative;
    float: right;
    padding-left: 2px;
    color: #637E95;
    cursor: pointer;
    padding-bottom: 50px;
}

#portPic {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.jumbotron {
    min-height: 99vh;
    min-width: 98.25vw;
    background-image: url("../images/hiking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.jumbotron h1{
    color: whitesmoke;
}

.jumbotron h2{
    color: #637E95;
}