
.nav{
    cursor: pointer;
    margin-top: 8%;
    margin-left: 2%;
    border-right: 1px solid #ccc;
}

li {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
    border: 1px solid lightslategray;
    font-size: 18px;
    font-family: 'Bellefair', serif;
}

li:hover {
    background-color: lightblue; 
    transition: .25s;
}

li.active {
    background-color: lightslategray;
    color: lightblue;
    transition: 2s;
    
}


.tab-pane h1 {
    text-align: center;
    margin-top: 15%;
    font-family: 'Bellefair', serif;
}

.tab-pane p {
    text-indent: 10px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: -5%;
}
.contact {
    float: right;
    margin-right: 1%;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: aliceblue;
    padding-top: 3%;
    padding-bottom: 5%;
}

img {
    height: 40%;
    width: 40%;
    border-radius: 100%;
    border-radius: 100%;
    border: 2px solid lightslategray;
}

.card-title {
    font-family: "Bellefair", serif;
}

.footer {
    clear: both;
    border-top: 1px solid #ccc;
}
